src/conf/xml-resources/web-services/Movil/wsdl/localhost_1234/movil.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PMovilService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/movil?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="a">
<part name="arg0" type="tns:DtPerfilArtista"></part>
</message>
<message name="aResponse"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="listarLisReproduccion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarLisReproduccionResponse">
<part name="return" type="tns:DtListaDeListas"></part>
</message>
<message name="obtenerPerfilArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerPerfilArtistaResponse">
<part name="return" type="tns:DtPerfilUsuario"></part>
</message>
<message name="listarArtistas"></message>
<message name="listarArtistasResponse">
<part name="return" type="tns:DtListaUsuarios"></part>
</message>
<message name="obtenerAlbumContenido">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="obtenerAlbumContenidoResponse">
<part name="return" type="tns:DtAlbumContenido"></part>
</message>
<message name="listarAlbumesGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarAlbumesGeneroResponse">
<part name="return" type="tns:DtListaAlbum"></part>
</message>
<message name="existeGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeGeneroResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="obtenerGeneros"></message>
<message name="obtenerGenerosResponse">
<part name="return" type="tns:DtListaString"></part>
</message>
<message name="esCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="esClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getDataCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataClienteResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="chequearLogin">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="chequearLoginResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<portType name="PMovil">
<operation name="a">
<input wsam:Action="http://Servicios/PMovil/aRequest" message="tns:a"></input>
<output wsam:Action="http://Servicios/PMovil/aResponse" message="tns:aResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/PMovil/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PMovil/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="listarLisReproduccion">
<input wsam:Action="http://Servicios/PMovil/listarLisReproduccionRequest" message="tns:listarLisReproduccion"></input>
<output wsam:Action="http://Servicios/PMovil/listarLisReproduccionResponse" message="tns:listarLisReproduccionResponse"></output>
</operation>
<operation name="obtenerPerfilArtista">
<input wsam:Action="http://Servicios/PMovil/obtenerPerfilArtistaRequest" message="tns:obtenerPerfilArtista"></input>
<output wsam:Action="http://Servicios/PMovil/obtenerPerfilArtistaResponse" message="tns:obtenerPerfilArtistaResponse"></output>
</operation>
<operation name="listarArtistas">
<input wsam:Action="http://Servicios/PMovil/listarArtistasRequest" message="tns:listarArtistas"></input>
<output wsam:Action="http://Servicios/PMovil/listarArtistasResponse" message="tns:listarArtistasResponse"></output>
</operation>
<operation name="obtenerAlbumContenido" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PMovil/obtenerAlbumContenidoRequest" message="tns:obtenerAlbumContenido"></input>
<output wsam:Action="http://Servicios/PMovil/obtenerAlbumContenidoResponse" message="tns:obtenerAlbumContenidoResponse"></output>
</operation>
<operation name="listarAlbumesGenero">
<input wsam:Action="http://Servicios/PMovil/listarAlbumesGeneroRequest" message="tns:listarAlbumesGenero"></input>
<output wsam:Action="http://Servicios/PMovil/listarAlbumesGeneroResponse" message="tns:listarAlbumesGeneroResponse"></output>
</operation>
<operation name="existeGenero">
<input wsam:Action="http://Servicios/PMovil/existeGeneroRequest" message="tns:existeGenero"></input>
<output wsam:Action="http://Servicios/PMovil/existeGeneroResponse" message="tns:existeGeneroResponse"></output>
</operation>
<operation name="obtenerGeneros">
<input wsam:Action="http://Servicios/PMovil/obtenerGenerosRequest" message="tns:obtenerGeneros"></input>
<output wsam:Action="http://Servicios/PMovil/obtenerGenerosResponse" message="tns:obtenerGenerosResponse"></output>
</operation>
<operation name="esCliente">
<input wsam:Action="http://Servicios/PMovil/esClienteRequest" message="tns:esCliente"></input>
<output wsam:Action="http://Servicios/PMovil/esClienteResponse" message="tns:esClienteResponse"></output>
</operation>
<operation name="getDataCliente">
<input wsam:Action="http://Servicios/PMovil/getDataClienteRequest" message="tns:getDataCliente"></input>
<output wsam:Action="http://Servicios/PMovil/getDataClienteResponse" message="tns:getDataClienteResponse"></output>
</operation>
<operation name="chequearLogin" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PMovil/chequearLoginRequest" message="tns:chequearLogin"></input>
<output wsam:Action="http://Servicios/PMovil/chequearLoginResponse" message="tns:chequearLoginResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PMovil/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PMovil/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
</portType>
<binding name="PMovilPortBinding" type="tns:PMovil">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="a">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarLisReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerPerfilArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarArtistas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerAlbumContenido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarAlbumesGenero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="existeGenero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerGeneros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="esCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="chequearLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PMovilService">
<port name="PMovilPort" binding="tns:PMovilPortBinding">
<soap:address location="http://localhost:1234/movil"></soap:address>
</port>
</service>
</definitions>